@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&family=PT+Sans&family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&family=PT+Sans&family=Playfair+Display+SC:wght@700&family=Playfair+Display:wght@700&family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&family=PT+Sans&family=Playfair+Display+SC:wght@700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;900&display=swap");
@font-face {
  font-family: Post No Bills Jaffna;
  src: url(Fonts/PostNoBillsJaffna-Bold.ttf);
}
@mixin title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin title-article {
  color: var(--white, #fff);
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

@mixin text-article {
  color: var(--white, #fff);
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

@mixin footer-title {
  color: #fff;
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin footer-text {
  color: var(--white, #fff);
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #000;
}
.header-wrapper {
  padding-top: 14px;
  color: var(--gray, #969696);
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__icon {
    width: 16px;
    height: 16px;
    padding-right: 2%;
    vertical-align: -3px;

    &_log {
      width: 14px;
      height: 14px;
      vertical-align: -3px;
    }
  }

  &__block {
    &_el {
      padding-right: 20px;
    }

    &_log {
      cursor: pointer;
    }
  }
}

.nav-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__logo {
    color: #fff;
    font-family: Post No Bills Jaffna;
    font-size: 36px;
    font-weight: 700;
    padding: 2% 0;
  }
}
.nav {
  display: flex;
  align-items: center;

  &__link {
    text-decoration: none;
    color: var(--gray, #969696);
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5% 2%;

    &_length {
      width: 240px;
    }
  }

  &__link:hover {
    color: #fff;
    background-color: #1f1f1f;
  }
}
.mobile {
  display: none;
}

.porten {
  &__wrapper {
    background: url("IMG/background.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 8.5%;
    padding-bottom: 7.5%;
  }

  &__logo {
    color: #fff;
    text-align: center;
    font-family: Post No Bills Jaffna;
    font-size: 64px;
    font-weight: 700;
    padding: 5% 3.2%;
    width: 340px;
    margin: 0 auto;
    border: #fff 4px solid;

    &_border {
      border-bottom: #fff 2px solid;
      line-height: 60px;
      width: 179px;
      margin: 0 auto;
    }

    &_small {
      font-family: PT Sans;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      padding-top: 7px;
    }
  }

  &__text {
    color: #fff;
    text-align: center;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    width: 38%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4.2%;
  }
}

.catalog {
  display: flex;
}

.season {
  width: 54.2%;
  background: #000;

  &__title {
    color: var(--white, #fff);
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 9%;
  }

  &__underline {
    background: #fff;
    height: 1px;
    width: 120px;
    margin: 4.8% auto;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  &__icon {
    background: rgba(25, 27, 28, 1);
    padding: 15%;
    width: 100%;
  }

  &__text {
    color: var(--white, #fff);
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
  }

  &__price {
    color: var(--light-gray, #d0d0d0);
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
  }
}

.new-collection {
  background: url(IMG/background_new_collection.png) no-repeat;
  background-size: cover;
  width: 45.8%;

  &__title {
    color: var(--white, #fff);
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 55%;
  }

  &__underline {
    background: #fff;
    height: 1px;
    width: 120px;
    margin: 30px auto;
  }

  &__btn {
    color: var(--white, #fff);
    text-align: center;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border: 1px solid var(--white, #fff);
    background: transparent;
    display: inline-flex;
    padding: 12px 28px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 11.4%;
  }
}

.collection {
  background: #000;

  &__article {
    width: 32.7%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5.2%;
  }

  &__wrapper {
    display: flex;
  }

  &__icon {
    width: 48.5%;
  }

  &__title {
    color: var(--white, #fff);
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__underline {
    background: #fff;
    width: 120px;
    height: 1px;
    margin: 6.3% auto;
  }

  &__text {
    color: var(--white, #fff);
    text-align: center;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10.2%;
  }

  &__btn {
    color: var(--white, #fff);
    text-align: center;
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--white, #fff);
    padding: 2% 4.5%;
    margin-bottom: 15.5%;
  }
}

.new-arrival {
  background: #000;

  &__title {
    color: var(--white, #fff);
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 6.3%;
  }

  &__underline {
    background: #fff;
    height: 1px;
    width: 120px;
    margin: 2% auto;
    margin-bottom: 4.25%;
  }

  &__wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5%;
    flex-wrap: wrap;
    padding-bottom: 5.75%;
  }

  &__icon {
    background: #191b1c;
    padding: 30px 22px;

    &_last {
      filter: blur(3px);
    }
  }

  &__text {
    color: var(--white, #fff);
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 400;
    padding-top: 2%;
  }

  &__price {
    color: var(--light-gray, #d0d0d0);
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15.5%;
    padding-top: 1%;
  }

  &__last {
    position: relative;
  }

  &__btn {
    position: absolute;
    left: 14%;
    top: 30%;
    color: var(--white, #fff);
    text-align: center;
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 400;
    background: transparent;
    border: 1px solid var(--white, #fff);
    cursor: pointer;
    width: 190px;
    padding: 12px 28px;
  }
}

.container {
  display: none;
}

.article {
  background: #0f0f0f;

  &__title {
    @include title;
    padding: 3.3% 0 2% 0;
  }

  &__underline {
    width: 120px;
    margin: auto;
    margin-bottom: 3%;
  }
}

.brand {
  background: #0f0f0f;
  display: flex;
  margin-top: 1.5%;

  &__icon {
    width: 55%;
  }

  &__container {
    width: 67.5%;
    margin: auto;
  }

  &__title {
    @include title-article;
    padding-top: 8.5%;
  }

  &__text {
    @include text-article;
    padding-top: 14px;
  }

  &__hashtags {
    @include title-article;
    align-self: flex-end;

    &_last {
      float: right;
      padding-top: 20px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 6.2%;

    &_last {
      display: block;
    }
  }

  &__btn {
    @include title-article;
    text-align: center;
    border: 1px solid var(--white, #fff);
    background: transparent;
    padding: 2% 4.5%;
    cursor: pointer;
  }
}

.partners {
  background: #0f0f0f;

  &__title {
    @include title;
    padding: 4.65% 0 2.2% 0;
  }

  &__underline {
    background: #fff;
    height: 1px;
    width: 120px;
    margin: 4.8% auto;
  }

  &__wrapper {
    width: 75%;
    margin: 0 auto;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__icon {
    width: 20%;
  }
}

.footer {
  background: url(IMG/background_footer.png) no-repeat;
  width: 100%;

  &__wrapper {
    padding-top: 4.2%;
    padding-bottom: 4.5%;
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin: 0 auto;
  }
}

.company {
  width: 32%;

  &__title {
    @include footer-title;
  }

  &__text {
    @include footer-text;
  }
}

.categories {
  width: 28%;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }

  &__title {
    @include footer-title;
    padding-bottom: 40px;
  }

  &__item {
    @include footer-text;
    color: var(--light-gray, #d0d0d0);
    padding: 20px 10px;
    background: #0f0f0f;
    margin-bottom: 5%;
    cursor: pointer;
  }

  &__item:hover {
    color: var(--white, #fff);
    background: #1f1f1f;
  }
}

.mailing {
  width: 35%;

  &__title {
    @include footer-title;
    padding-bottom: 40px;
  }

  &__text {
    @include footer-text;
    padding-bottom: 26px;
  }

  &__input {
    background: rgba(255, 255, 255, 0.4);
    padding-left: 5%;
    outline: none;
    border: none;
    width: 60%;
    height: 42px;
  }

  &__input::placeholder {
    @include footer-text;
    color: var(--light-gray, #d0d0d0);
  }

  &__btn {
    width: 40%;
    height: 42px;
    background: #0f0f0f;
    @include footer-text;
    letter-spacing: 0.7px;
    margin-left: -5px;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 1700px) {
  .header-wrapper {
    width: 70%;
    &__block {
      &_el {
        padding-right: 10px;
      }
    }
  }

  .nav-wrapper {
    width: 70%;
  }

  .collection {
    &__article {
      width: 40%;
    }
  }

  .new-arrival {
    &__wrapper {
      width: 80%;
    }
  }

  .footer {
    &__wrapper {
      width: 65%;
    }
  }
}

@media (max-width: 1440px) {
  .header-wrapper {
    width: 85%;
  }

  .nav-wrapper {
    width: 85%;
  }

  .porten {
    &__text {
      width: 60%;
    }
  }

  .season {
    &__wrapper {
      width: 90%;
      margin: 0 auto;
    }
  }

  .collection {
    &__text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  .brand {
    &__container {
      width: 90%;
    }

    &__title {
      padding-top: 4%;
    }

    &__text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
    }
  }

  .footer {
    &__wrapper {
      width: 75%;
    }
  }
}

@media (max-width: 1024px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
  }

  .porten {
    &__text {
      width: 70%;
      font-size: 14px;
    }
  }

  .season {
    &__text {
      height: 74px;
    }
  }
  .new-arrival {
    &__wrapper {
      display: none;
    }

    &__icon {
      width: 100%;
    }
  }
  .container {
    display: block;
  }

  .swiper {
    height: 40%;
  }

  .swiper-wrapper {
    left: -27%;
  }

  .swiper-button-next {
    color: #fff !important;
    top: 35% !important;
  }

  .swiper-button-prev {
    color: #fff !important;
    top: 35% !important;
  }

  .swiper-pagination-bullet {
    background-color: #fff !important;
  }

  .brand {
    flex-direction: column;

    &__icon {
      width: 100%;
    }

    &__container {
      margin-bottom: 5%;
    }
  }

  .footer {
    &__wrapper {
      flex-wrap: wrap;
      width: 90%;
    }
  }

  .company {
    order: 1;
    width: 100%;

    &__title {
      width: 250px;
      cursor: pointer;
      position: relative;
    }

    &__title::after {
    }

    &__text {
      display: none;
    }
  }

  .mailing {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .header-wrapper {
    width: 100%;
    font-size: 10px;
  }

  .nav {
    display: none;
  }

  .mobile {
    display: block;
  }

  .nav__mobile {
    display: none;
  }

  .nav__mobile.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 10;
    opacity: 1;
    -webkit-transition: 0.6s linear;
    transition: 0.6s linear;
  }

  .nav__mobile.active .nav__mobile_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
    overflow: auto;
  }

  .nav__mobile.active .list {
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: hidden;
    display: block;
  }

  .nav__mobile.active .list .list__item {
    padding: 10px 0;
  }

  .nav__mobile .list {
    padding: 8px 0 0 0;
    display: flex;
  }

  .nav__mobile .list .list__item {
    padding: 0 0 0 13px;
    list-style: none;
  }

  .nav__mobile .list .list__item .list__item_link {
    display: inline-block;
    font-family: PT Sans;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray, #969696);
    text-transform: uppercase;
    padding: 30px 20px;
    letter-spacing: 0.9px;
    position: relative;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
  }

  .nav__mobile .list .list__item .list__item_link:hover {
    color: #fff;
    background: #1f1f1f;
    transition: color 0.3s ease-in-out;
  }

  .device-menu {
    position: fixed;
    top: 65px;
    right: 40px;
    width: 55px;
    height: 50px;
    z-index: 11;
    background-color: #000;
    width: 45px;
    height: 40px;
    display: block;
  }

  .device-menu .device-menu__inner {
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .device-menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: white;
    top: 5px;
    left: 0;
  }

  .device-menu span:nth-child(1) {
    top: 0;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
  }

  .device-menu span:nth-child(2) {
    top: 50%;
  }

  .device-menu span:nth-child(3) {
    top: 100%;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
  }

  .device-menu.open {
    top: 30px;
  }

  .device-menu.open span:nth-child(1) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .device-menu.open span:nth-child(2) {
    opacity: 0;
  }

  .device-menu.open span:nth-child(3) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .porten {
    &__wrapper {
      background-position: center center;
      background-size: cover;
    }
    &__text {
      width: 85%;
      font-size: 12px;
    }
    &__logo {
      font-size: 56px;
      width: 250px;

      &_border {
        width: 170px;
      }
      &_small {
        font-size: 18px;
        width: 170px;
        margin: 0 auto;
      }
    }
  }

  .catalog {
    flex-direction: column;
  }

  .season {
    width: 100%;
    padding-bottom: 10%;
    &__text {
      height: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      font-size: 16px;
    }

    &__price {
      font-size: 14px;
    }
  }

  .new-collection {
    width: 100%;
  }

  .collection {
    &__wrapper {
      flex-direction: column;
    }

    &__article {
      width: 80%;
    }

    &__icon {
      width: 100%;
    }

    &__btn {
      width: 60%;
    }
  }

  .new-arrival {
    &__title {
      font-size: 36px;
    }

    &__text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      font-size: 16px;
    }

    &__price {
      font-size: 14px;
    }
  }
  :root {
    --swiper-navigation-size: 30px !important;
  }
  .swiper-button-next {
    color: #fff !important;
    top: 35% !important;
  }

  .swiper-button-prev {
    color: #fff !important;
    top: 35% !important;
  }

  .article {
    &__title {
      font-size: 30px;
    }
  }

  .brand {
    &__hashtags,
    &__btn {
      font-size: 14px;
    }
  }

  .partners {
    background: #0f0f0f;

    &__title {
      font-size: 30px;
    }
  }
}

@media (max-width: 375px) {
  .porten {
    &__text {
      font-size: 10px;
    }
    &__logo {
      font-size: 48px;
    }
    &_small {
      font-size: 16px;
    }
  }

  .season {
    &__title {
      font-size: 30px;
    }

    .new-collection {
      &__title {
        font-size: 30px;
      }
    }
  }

  .swiper {
    height: 220px;
  }

  .new-arrival {
    &__title {
      font-size: 30px;

      padding-top: 1%;
    }
  }
}
