@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&family=PT+Sans&family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&family=PT+Sans&family=Playfair+Display+SC:wght@700&family=Playfair+Display:wght@700&family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&family=PT+Sans&family=Playfair+Display+SC:wght@700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;900&display=swap");
@font-face {
  font-family: Post No Bills Jaffna;
  src: url(Fonts/PostNoBillsJaffna-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #000;
}

.header-wrapper {
  padding-top: 14px;
  color: var(--gray, #969696);
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-wrapper__icon {
  width: 16px;
  height: 16px;
  padding-right: 2%;
  vertical-align: -3px;
}
.header-wrapper__icon_log {
  width: 14px;
  height: 14px;
  vertical-align: -3px;
}
.header-wrapper__block_el {
  padding-right: 20px;
}
.header-wrapper__block_log {
  cursor: pointer;
}

.nav-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-wrapper__logo {
  color: #fff;
  font-family: Post No Bills Jaffna;
  font-size: 36px;
  font-weight: 700;
  padding: 2% 0;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  color: var(--gray, #969696);
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5% 2%;
}
.nav__link_length {
  width: 240px;
}
.nav__link:hover {
  color: #fff;
  background-color: #1f1f1f;
}

.mobile {
  display: none;
}

.porten__wrapper {
  background: url("IMG/background.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 8.5%;
  padding-bottom: 7.5%;
}
.porten__logo {
  color: #fff;
  text-align: center;
  font-family: Post No Bills Jaffna;
  font-size: 64px;
  font-weight: 700;
  padding: 5% 3.2%;
  width: 340px;
  margin: 0 auto;
  border: #fff 4px solid;
}
.porten__logo_border {
  border-bottom: #fff 2px solid;
  line-height: 60px;
  width: 179px;
  margin: 0 auto;
}
.porten__logo_small {
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 7px;
}
.porten__text {
  color: #fff;
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  width: 38%;
  margin: 0 auto;
  text-align: center;
  margin-top: 4.2%;
}

.catalog {
  display: flex;
}

.season {
  width: 54.2%;
  background: #000;
}
.season__title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 9%;
}
.season__underline {
  background: #fff;
  height: 1px;
  width: 120px;
  margin: 4.8% auto;
}
.season__wrapper {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.season__icon {
  background: rgb(25, 27, 28);
  padding: 15%;
  width: 100%;
}
.season__text {
  color: var(--white, #fff);
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 400;
  padding-top: 25px;
}
.season__price {
  color: var(--light-gray, #d0d0d0);
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
}

.new-collection {
  background: url(IMG/background_new_collection.png) no-repeat;
  background-size: cover;
  width: 45.8%;
}
.new-collection__title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 55%;
}
.new-collection__underline {
  background: #fff;
  height: 1px;
  width: 120px;
  margin: 30px auto;
}
.new-collection__btn {
  color: var(--white, #fff);
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border: 1px solid var(--white, #fff);
  background: transparent;
  display: inline-flex;
  padding: 12px 28px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 11.4%;
}

.collection {
  background: #000;
}
.collection__article {
  width: 32.7%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5.2%;
}
.collection__wrapper {
  display: flex;
}
.collection__icon {
  width: 48.5%;
}
.collection__title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.collection__underline {
  background: #fff;
  width: 120px;
  height: 1px;
  margin: 6.3% auto;
}
.collection__text {
  color: var(--white, #fff);
  text-align: center;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10.2%;
}
.collection__btn {
  color: var(--white, #fff);
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--white, #fff);
  padding: 2% 4.5%;
  margin-bottom: 15.5%;
}

.new-arrival {
  background: #000;
}
.new-arrival__title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 6.3%;
}
.new-arrival__underline {
  background: #fff;
  height: 1px;
  width: 120px;
  margin: 2% auto;
  margin-bottom: 4.25%;
}
.new-arrival__wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5%;
  flex-wrap: wrap;
  padding-bottom: 5.75%;
}
.new-arrival__icon {
  background: #191b1c;
  padding: 30px 22px;
}
.new-arrival__icon_last {
  filter: blur(3px);
}
.new-arrival__text {
  color: var(--white, #fff);
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 400;
  padding-top: 2%;
}
.new-arrival__price {
  color: var(--light-gray, #d0d0d0);
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 15.5%;
  padding-top: 1%;
}
.new-arrival__last {
  position: relative;
}
.new-arrival__btn {
  position: absolute;
  left: 14%;
  top: 30%;
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
  border: 1px solid var(--white, #fff);
  cursor: pointer;
  width: 190px;
  padding: 12px 28px;
}

.container {
  display: none;
}

.article {
  background: #0f0f0f;
}
.article__title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3.3% 0 2% 0;
}
.article__underline {
  width: 120px;
  margin: auto;
  margin-bottom: 3%;
}

.brand {
  background: #0f0f0f;
  display: flex;
  margin-top: 1.5%;
}
.brand__icon {
  width: 55%;
}
.brand__container {
  width: 67.5%;
  margin: auto;
}
.brand__title {
  color: var(--white, #fff);
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding-top: 8.5%;
}
.brand__text {
  color: var(--white, #fff);
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 14px;
}
.brand__hashtags {
  color: var(--white, #fff);
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  align-self: flex-end;
}
.brand__hashtags_last {
  float: right;
  padding-top: 20px;
}
.brand__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 6.2%;
}
.brand__wrapper_last {
  display: block;
}
.brand__btn {
  color: var(--white, #fff);
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--white, #fff);
  background: transparent;
  padding: 2% 4.5%;
  cursor: pointer;
}

.partners {
  background: #0f0f0f;
}
.partners__title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4.65% 0 2.2% 0;
}
.partners__underline {
  background: #fff;
  height: 1px;
  width: 120px;
  margin: 4.8% auto;
}
.partners__wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 5% 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.partners__icon {
  width: 20%;
}
@media (max-width: 1700px) {
  .partners .header-wrapper {
    width: 70%;
  }
  .partners .header-wrapper__block_el {
    padding-right: 10px;
  }
  .partners .nav-wrapper {
    width: 70%;
  }
  .partners .collection__article {
    width: 40%;
  }
  .partners .new-arrival__wrapper {
    width: 80%;
  }
}

@media (max-width: 1440px) {
  .header-wrapper {
    width: 85%;
  }
  .nav-wrapper {
    width: 85%;
  }
  .porten__text {
    width: 60%;
  }
  .season__wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .collection__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .brand__container {
    width: 90%;
  }
  .brand__title {
    padding-top: 4%;
  }
  .brand__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
}
@media (max-width: 1024px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
  }
  .porten__text {
    width: 70%;
    font-size: 14px;
  }
  .season__text {
    height: 74px;
  }
  .new-arrival__wrapper {
    display: none;
  }
  .new-arrival__icon {
    width: 100%;
  }
  .container {
    display: block;
  }
  .swiper {
    height: 40%;
  }
  .swiper-wrapper {
    left: -27%;
  }
  .swiper-button-next {
    color: #fff !important;
    top: 35% !important;
  }
  .swiper-button-prev {
    color: #fff !important;
    top: 35% !important;
  }
  .swiper-pagination-bullet {
    background-color: #fff !important;
  }
  .brand {
    flex-direction: column;
  }
  .brand__icon {
    width: 100%;
  }
  .brand__container {
    margin-bottom: 5%;
  }
}
@media (max-width: 768px) {
  .header-wrapper {
    width: 100%;
    font-size: 10px;
  }
  .nav {
    display: none;
  }
  .mobile {
    display: block;
  }
  .nav__mobile {
    display: none;
  }
  .nav__mobile.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 10;
    opacity: 1;
    transition: 0.6s linear;
  }
  .nav__mobile.active .nav__mobile_inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    overflow: auto;
  }
  .nav__mobile.active .list {
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: hidden;
    display: block;
  }
  .nav__mobile.active .list .list__item {
    padding: 10px 0;
  }
  .nav__mobile .list {
    padding: 8px 0 0 0;
    display: flex;
  }
  .nav__mobile .list .list__item {
    padding: 0 0 0 13px;
    list-style: none;
  }
  .nav__mobile .list .list__item .list__item_link {
    display: inline-block;
    font-family: PT Sans;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray, #969696);
    text-transform: uppercase;
    padding: 30px 20px;
    letter-spacing: 0.9px;
    position: relative;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
  }
  .nav__mobile .list .list__item .list__item_link:hover {
    color: #fff;
    background: #1f1f1f;
    transition: color 0.3s ease-in-out;
  }
  .device-menu {
    position: fixed;
    top: 65px;
    right: 40px;
    width: 55px;
    height: 50px;
    z-index: 11;
    background-color: #000;
    width: 45px;
    height: 40px;
    display: block;
  }
  .device-menu .device-menu__inner {
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .device-menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: white;
    top: 5px;
    left: 0;
  }
  .device-menu span:nth-child(1) {
    top: 0;
    transition: rotate, 0.3s;
  }
  .device-menu span:nth-child(2) {
    top: 50%;
  }
  .device-menu span:nth-child(3) {
    top: 100%;
    transition: rotate, 0.3s;
  }
  .device-menu.open {
    top: 30px;
  }
  .device-menu.open span:nth-child(1) {
    top: 10px;
    right: 0;
    transform: rotate(45deg);
  }
  .device-menu.open span:nth-child(2) {
    opacity: 0;
  }
  .device-menu.open span:nth-child(3) {
    top: 10px;
    right: 0;
    transform: rotate(-45deg);
  }
  .porten__wrapper {
    background-position: center center;
    background-size: cover;
  }
  .porten__text {
    width: 85%;
    font-size: 12px;
  }
  .porten__logo {
    font-size: 56px;
    width: 250px;
  }
  .porten__logo_border {
    width: 170px;
  }
  .porten__logo_small {
    font-size: 18px;
    width: 170px;
    margin: 0 auto;
  }
  .catalog {
    flex-direction: column;
  }
  .season {
    width: 100%;
    padding-bottom: 10%;
  }
  .season__text {
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 16px;
  }
  .season__price {
    font-size: 14px;
  }
  .new-collection {
    width: 100%;
  }
  .collection__wrapper {
    flex-direction: column;
  }
  .collection__article {
    width: 80%;
  }
  .collection__icon {
    width: 100%;
  }
  .collection__btn {
    width: 60%;
  }
  .new-arrival__title {
    font-size: 36px;
  }
  .new-arrival__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 16px;
  }
  .new-arrival__price {
    font-size: 14px;
  }
  :root {
    --swiper-navigation-size: 30px !important;
  }
  .swiper-button-next {
    color: #fff !important;
    top: 35% !important;
  }
  .swiper-button-prev {
    color: #fff !important;
    top: 35% !important;
  }
  .article__title {
    font-size: 30px;
  }
  .brand__hashtags, .brand__btn {
    font-size: 14px;
  }
  .partners {
    background: #0f0f0f;
  }
  .partners__title {
    font-size: 30px;
  }
}
@media (max-width: 375px) {
  .porten__text {
    font-size: 10px;
  }
  .porten__logo {
    font-size: 48px;
  }
  .porten_small {
    font-size: 16px;
  }
  .season__title {
    font-size: 30px;
  }
  .season .new-collection__title {
    font-size: 30px;
  }
  .swiper {
    height: 220px;
  }
  .new-arrival__title {
    font-size: 30px;
    padding-top: 1%;
  }
}/*# sourceMappingURL=style.css.map */