@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&family=PT+Sans&family=Roboto:wght@400;900&display=swap");
@font-face {
  font-family: Post No Bills Jaffna;
  src: url(Fonts/PostNoBillsJaffna-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.header-wrapper {
  padding-top: 14px;
  color: var(--gray, #969696);
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__icon {
    width: 16px;
    height: 16px;
    padding-right: 2%;
    vertical-align: -3px;

    &_log {
      width: 14px;
      height: 14px;
      vertical-align: -3px;
    }
  }

  &__block {
    &_el {
      padding-right: 20px;
    }
  }
}

.nav-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__logo {
    color: #fff;
    font-family: Post No Bills Jaffna;
    font-size: 36px;
    font-weight: 700;
    padding: 2% 0;
  }
}
.nav {
  display: flex;
  align-items: center;

  &__link {
    text-decoration: none;
    color: var(--gray, #969696);
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5% 2%;

    &_length {
      width: 240px;
    }
  }

  &__link:hover {
    color: #fff;
    background-color: #1f1f1f;
  }
}
.mobile {
  display: none;
}
@media (max-width: 1700px) {
  .header-wrapper {
    width: 70%;
    &__block {
      &_el {
        padding-right: 10px;
      }
    }
  }

  .nav-wrapper {
    width: 70%;
  }
}

@media (max-width: 1440px) {
  .header-wrapper {
    width: 85%;
  }

  .nav-wrapper {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .header-wrapper {
    width: 100%;
    font-size: 10px;
    &__icon {
      vertical-align: -5px;
      &_log {
        vertical-align: -5px;
      }
    }
  }

  .nav {
    display: none;
  }

  .mobile {
    display: block;
  }

  .nav__mobile {
    display: none;
  }

  .nav__mobile.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 10;
    opacity: 1;
    -webkit-transition: 0.6s linear;
    transition: 0.6s linear;
  }

  .nav__mobile.active .nav__mobile_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
    overflow: auto;
  }

  .nav__mobile.active .list {
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: hidden;
    display: block;
  }

  .nav__mobile.active .list .list__item {
    padding: 10px 0;
  }

  .nav__mobile .list {
    padding: 8px 0 0 0;
    display: flex;
  }

  .nav__mobile .list .list__item {
    padding: 0 0 0 13px;
    list-style: none;
  }

  .nav__mobile .list .list__item .list__item_link {
    display: inline-block;
    font-family: PT Sans;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray, #969696);
    text-transform: uppercase;
    padding: 30px 20px;
    letter-spacing: 0.9px;
    position: relative;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
  }

  .nav__mobile .list .list__item .list__item_link :hover {
    color: #fff;
    background: #1f1f1f;
    transition: color 0.3s ease-in-out;
  }

  .device-menu {
    position: fixed;
    top: 70px;
    right: 10px;
    width: 55px;
    height: 50px;
    z-index: 11;
    background-color: #000;
    width: 45px;
    height: 40px;
    display: block;
  }

  .device-menu .device-menu__inner {
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .device-menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: white;
    top: 5px;
    left: 0;
  }

  .device-menu span:nth-child(1) {
    top: 0;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
  }

  .device-menu span:nth-child(2) {
    top: 50%;
  }

  .device-menu span:nth-child(3) {
    top: 100%;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
  }

  .device-menu.open {
    top: 10px;
  }

  .device-menu.open span:nth-child(1) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .device-menu.open span:nth-child(2) {
    opacity: 0;
  }

  .device-menu.open span:nth-child(3) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
